---
import "../styles/global.css";
---

<navbar class="navbar bg-linear-to-t from-zinc-900 from-5% to-zinc-800">
    <div class="navbar-logo flex items-center gap-4">
        <img src="/astro.jpg" alt="Astro Logo" class="navbar-logo"/>
        <h2 class="text-xl font-bold text-white mt-1">Advith Krishnan</h2>
    </div>
    <ul class="navbar-li">
        <li class="navbar-refs"><a href="/">Home</a></li>
        <li class="navbar-refs"><a href="/blog">Blog</a></li>
        <li class="navbar-refs"><a href="/contact_me">Contact</a></li>
    </ul>
</navbar>