---
import "../styles/global.css";
---

<navbar class="navbar">
    <div class="navbar-logo">
        <img src="/src/assets/astro.jpg" alt="Astro Logo" />
    </div>
    <ul class="navbar-li">
        <li class="navbar-refs"><a href="/">Home</a></li>
        <li class="navbar-refs"><a href="/blog">Blog</a></li>
        <li class="navbar-refs"><a href="/contact_me">Contact</a></li>
    </ul>
</navbar>